<form>
    <label for="email">Email :  </label>
    <input type="text" name="email" id="email" placeholder="email" aria-placeholder="email">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="name" aria-placeholder="name">
    <input type="submit" value="Submit">
</form>